<div class="container">
  <table>
    <tbody>
      <tr class="nav-row">
        <td>
          <a href="#">
            <img class="logo" src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1574099576/hacker-news/y-logo_er8qey.gif" alt="Logo">
          </a>
        </td>
        <td>
          <span class="pagetop">
            <span class="header">
              <a href="#" class="bold">Hacker News</a>
            </span>
            <span class="links">
              <a href="#">new</a>
              |
              <a href="#">past</a>
              |
              <a href="#">comments</a>
              |
              <a href="#">asks</a>
              |
              <a href="#">show</a>
              |
              <a href="#">jobs</a>
              |
              <a href="#">submit</a>
            </span>
          </span>
        </td>
        <td class="login">
          <span>
            <a href="#">Login</a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
